*{
  font-family: 'Odibee Sans';
  background-color: tan;
}


body {
  margin: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h1 {
  margin-top: auto;
  font-size: 3rem;
}

button {
  margin: 1rem;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: white;
}

footer {
  padding: 1rem;
}

.butcherPig {
  max-height: 9rem;
  margin: 1rem;
  border: 1px solid;
  box-shadow: 0rem .2rem .9rem .1rem black ;
}

.userInput {
  border-radius: .5rem;
  font-size: 1rem;
  height: 3rem;
  width: 20rem;
  text-align: center;
  background-color: white;
}

.inputArea {
  max-height: 15rem;
  background-color: #606060;
  color: #fff;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 2rem;
  border: 5px solid rgba(82, 71, 38);
}

#headerTitle{
  background-color: #606060;
}
#translated{
  font-size: 1.5rem;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }.inputArea {
    max-height: 25rem;
  }
  .userInput{
    font-size: 1rem;
    height: 3rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
